<!DOCTYPE html>

<html>
  <head>
  </head>
    <body>
      <p>
        There is a new message from the Ruby app's contact form.
        The message was sent from <%= "#{ @name }, #{ @gmail }. " %>
      </p>
      
      
      <p>
        <%= "#{ @message }. "%>
      </p>
    </body>
</html>